<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<header>
  <a href="{{ route('home') }}">
    <div class="top-nav">
      <div class="logo">
        <h1>
          ACD
        </h1>
      </div>
  </a>
  <nav>
    <a href="{{ route('home') }}">
      <div class="menu-item {{ request.url() === '/' ? 'active' : '' }}">
        <span class="material-symbols-outlined">map</span>
        <p>
          Explorer
        </p>
      </div>
    </a>
    <a href="#">
      <div class="menu-item">
        <span class="material-symbols-outlined">list</span>
        <p>
          Liste
        </p>
      </div>
    </a>
    <a href="{{ route('profile.show') }}">
      <div
        class="menu-item {{ request.url() === '/profile' || request.url() === '/login' || request.url() === '/register' ? 'active' : '' }}">
        <span class="material-symbols-outlined">account_circle</span>
        <p>
          Profil
        </p>
      </div>
    </a>
    <a href="#">
      <div class="menu-item">
        <span class="material-symbols-outlined">list_alt_check</span>
        <p>
          Sites marqués
        </p>
      </div>
    </a>
    <a href="#">
      <div class="menu-item">
        <span class="material-symbols-outlined">patient_list</span>
        <p>
          Sites visités
        </p>
      </div>
    </a>
  </nav>

  </div>

  <div class="lang-container">
    <div class="lang-popup" id="langPopup">
      <div class="lang-option" onclick="changeLang('EN', 'us')">
        <img src="https://flagcdn.com/w80/us.png" class="flag-icon" /> <span class="lang-text">EN</span>
      </div>
      <div class="lang-option" onclick="changeLang('FR', 'fr')">
        <img src="https://flagcdn.com/w80/fr.png" class="flag-icon" /> <span class="lang-text">FR</span>
      </div>
    </div>

    <div class="language-picker" id="langTrigger">
      <img src="https://flagcdn.com/w80/fr.png" id="mainFlag" class="flag-icon" />
      <span class="lang-text" id="mainText">FR</span>
      <span class="material-symbols-outlined" style="font-size: 20px; color: white;">expand_less</span>
    </div>
  </div>
</header>
<script>
  const trigger = document.getElementById("langTrigger");

  const popup = document.getElementById("langPopup");

  const mainFlag = document.getElementById("mainFlag");

  const mainText = document.getElementById("mainText");

  trigger.addEventListener("click", e => {
    e.stopPropagation();
    popup.classList.toggle("show");
  });

  function changeLang(lang, code) {
    mainText.innerText = lang;
    mainFlag.src = `https://flagcdn.com/w80/${code}.png`;
    popup.classList.remove("show");
  }

  window.addEventListener("click", () => popup.classList.remove("show"));
</script>